<div class="panel panel-default">
<div class="panel-heading font-bold">
	文章编辑
</div>
<div class="panel-body">

<%= render 'form', article: @article %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
</div>
</div>


<
