<div class="panel panel-default">
  <div class="panel-heading">
    Label列表
    <div class="pull-right">
      <%= link_to "新建标签", new_label_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
    <tr>
      <th>标签名</th>
      <th>
      使用次数
      
      <a href="/labels/descending">
          <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
        </a>
      <a href="/labels/ascending">
          <span class="glyphicon glyphicon-sort-by-attributes"></span>
        </a>
    </th>
      <th>状态</th>
      <th style="width:120px;">创建时间</th>
      <th>操作</th>
   
    </tr>
  </thead>
      <tbody>
  
    <%= render(@labels) %>

      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%= render partial: "shared/admin/paginate", locals: { object: @labels } %>
  </footer>
</div>
