<h1>Editing Picture</h1>

<%= render 'form', picture: @picture %>

<%#= link_to 'Show', article_picture_path(id: picture.id, article_id: params[:id])%> |
<%#= link_to 'Back', article_picture_path(id: picture.id, article_id: params[:id])%>
